<h1>Your Favorites</h1>
<% if @favorites.present? %>
      <% @favorites.each do |favorite| %>
      <div class="container">
        <div class="row">
          <div class="favorite_box col-sm-6">
            <ul>
          <li><strong><%= favorite.picture.user.name %></strong>'s Picture</li>
          <li><%= favorite.picture.content %></li>
          <li><%= image_tag favorite.picture.image.url if favorite.picture.image.present? %></li>
        </ul>
        </div>
      </div>
    </div>
      <% end %>

<% else %>
  <p>No pictures in your favorites</p>
<% end %>
